Django>=5.2.13,<6
zipp==3.19.1
daphne==4.1.2
channels==4.3.2
channels-redis==4.3.0
djangorestframework==3.16.1
psycopg2-binary==2.9.11
django-allauth==65.14.3
dj-rest-auth==7.1.1
django-cors-headers==4.9.0
django-environ==0.13.0
drf-nested-routers==0.94.1
requests==2.33.0
PyJWT==2.12.1
cryptography==46.0.7
django-filter==25.2
whitenoise==6.8.2
drf-spectacular==0.29.0
