Django==5.1.15
daphne==4.1.2
channels==4.2.0
channels-redis==4.2.1
djangorestframework==3.15.2
psycopg2-binary==2.9.10
django-allauth==65.14.1
dj-rest-auth==7.1.1
django-cors-headers==4.6.0
django-environ==0.11.2
gunicorn==23.0.0
drf-nested-routers==0.94.1
requests==2.32.4
PyJWT==2.12.0
cryptography==46.0.5
django-filter==24.3
whitenoise==6.8.2
